.cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-titulo{
    color: var(--cinza-escuro);
    font-weight: 400;
}

.campo {
    height: 40px;
    width: 312px;
    border-radius: 6px;
    margin: 0.5rem 0 1rem 1rem;
    border: none;
    font-size: 0.8rem;
    color: var(--cinza-medio);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    padding-left: 1rem;
}

.campo-form {
    text-align: center;
    background-color: var(--cinza-claro);  
}

.eye {
    position: relative;
    left: 9.5rem;
    bottom: 2.5rem;
}

.recuperar-senha {
    color: var(--coral);
    text-decoration: underline;
    margin: 1rem;
}


.msg-titulo{
    font-size: 1rem;
    font-weight: 600;
    margin-left:1rem ;
}

.tx-area {
    resize: none;
    height: 8.5rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
    padding-top: 1rem;
    padding-left: 1rem;
}

.cx-msg{
    background-color:var(--cinza-claro);
    height: 100%;
    width: 22rem;
    border-radius: 10px;
    text-align: left;
    padding: 1rem 0;
    margin: 0 auto;
    width: 90%;
}

.botao-msg{
    text-align: center;
}

@media (min-width:370px) {
    .bg-desktop-form{
        background-image:
        url(../img/forma-topo.svg), 
        url(../img/forma-lateral.svg);
        background-repeat: no-repeat;
        background-position:top left, 100% 60%;
        background-size:35rem, 7rem;
    }
}