:root {
    --azul: #3772FF;
    --verde: #36D6AD;
    --coral: #FC7071;
    --creme: #FCF0E3;
    --cinza-escuro: #737380;
    --cinza-medio: #BCBCBC;
    --cinza-claro: #F6F6F6;
    --branco: white;
    --font: 'Poppins', sans-serif;
}

body {
    font-family: var(--font);
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}

.bg-form {
    background-color: var(--branco);
    background-image: 
        url(../img/patas.svg),
        url(../img/forma-topo.svg), 
        url(../img/forma-lateral2.svg);
    background-repeat: no-repeat;
    background-position: top right, top left, 0% 75%;
}

.bg-home {
    background-color: var(--branco);
    background-image: url(../img/forma-topo.svg);
    background-repeat: no-repeat;
    background-position: top left ;
}

.cabecalho {
    margin: 1.5rem;
    display: flex;
    align-items: center;
}

.logo-cabecalho{
    position: absolute;
    left: -200px;
}

.icon {
   padding: 2rem;  
}

.icon-perfil {
    position: absolute;
    right: 3rem;
}

.container {
    text-align: center;
    margin: 2rem auto 0;
    flex-grow: 1;
    width: 70%;
}

.texto {
    font-size: 1rem;
    font-weight: 400;
    margin: 1.2rem 0; 
}

.texto-claro {
    color: var(--cinza-claro);  
}

.texto-azul {
    color: var(--azul);
}

.botao {
    margin: 0 auto 1rem auto;
    display: block;

    background-color: var(--coral);
    text-decoration: none;
    color: var(--creme);
    font-size: 1rem;
    font-weight: 600;

    height: 2.5rem;
    width: 11.2rem;
    border-radius: 6px;
    padding-top: 1rem;
}

.botao:hover {
    background: #FF9D9E;
}

.rodape {
    background-color: var(--verde);
    color: var(--creme);
    padding: 1.7rem 0;
    font-size: 1rem;
    text-align: center;
}

@media (min-width:370px) {
    .logo-cabecalho{
        position: static;
        padding: 1rem;
    }

    .cabecalho{
        margin: 4rem 3rem;
    }

    .icon {
        padding: 1rem;
    }

    .container{
        padding-top: 4rem;
    }

    .texto {
        font-size: 1.2rem;
        width: 21rem;
        margin: 1.5rem auto;
    }

    .botao{
        width: 20rem;
        font-size: 1.2rem;
    }

    .bg-home{
        background-size: 35rem;
    }

    .bg-form {
        background-image:  
            url(../img/patas.svg),
            url(../img/forma-topo.svg), 
            url(../img/forma-lateral.svg);
        background-repeat: no-repeat;
        background-position: top right, top left, 100% 60%;
        background-size: 14rem, 35rem, 7rem;
    }
}

@media (min-width:780px) {
    .cabecalho{
        margin: 4rem 9rem 2rem;
    }

    .container{
        padding-top: 0;
        margin: 0 auto;
    }

    .texto {
        width: 30.5rem;
    }

    .botao{
        width: 22.6rem;
    }

    .icon-perfil {
        position: absolute;
        right: 10.8rem;
    }
}